<header class="header">
  <div class="container">
    <nav class="header__nav">
      <div class="js-header-burger header__nav-burger">
        <svg xmlns="http://www.w3.org/2000/svg" width="33" height="22" viewBox="0 0 33 22" fill="none">
          <path d="M0 22H33V18.3333H0V22ZM0 12.8333H33V9.16667H0V12.8333ZM0 0V3.66667H33V0H0Z" fill="currentColor"/>
        </svg>
      </div>
  
      <div class="menu-wrapper">
        <div class="header__nav-menu menu">
          <div class="js-menu-close menu__close">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
              <path
                  d="M25.8334 2.75163L23.2484 0.166626L13.0001 10.415L2.75175 0.166626L0.166748 2.75163L10.4151 13L0.166748 23.2483L2.75175 25.8333L13.0001 15.585L23.2484 25.8333L25.8334 23.2483L15.5851 13L25.8334 2.75163Z"
                  fill="currentColor"/>
            </svg>
          </div>
  
          <ul class="menu__list">
            <li>
              <div class="menu__list-item">
                <a href="/" class="menu__list-link">Menu 1</a>
                <span>GO</span>
              </div>
            </li>
  
            <li>
              <div class="menu__list-item">
                <a href="/" class="menu__list-link">Menu 2</a>
                <span>GO</span>
              </div>
            </li>
  
            <li>
              <div class="menu__list-item">
                <a href="/" class="menu__list-link">Menu 3</a>
                <span>GO</span>
              </div>
            </li>
  
            <li>
              <div class="menu__list-item">
                <a href="/" class="menu__list-link">Menu 4</a>
                <span>GO</span>
              </div>
            </li>
          </ul>
      
          <div class="menu__phone">
            <a href="tel:8 800 000 00 00">8 800 000 00 00</a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
