<div class="js-slider main-slider swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="container">
        <div class="main-slider__item">
          <div class="main-slider__text">
            <h2 class="title">Bibendum neque egestas congue</h2>
            <p class="desc">lacus sed viverra tellus in hac habitasse platea dictumst vestibulum rhoncus est
              pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat</p>
          </div>
          
          <div class="speed-block">
            <div class="speed-block__cta cta">
              <button class="js-speed-lvl btn btn-sm cta__lvl-1 active">
                <span class="btn-bg">level 1</span>
              </button>
              
              <button class="js-speed-lvl btn btn-sm cta__lvl-2">
                <span class="btn-bg">level 2</span>
              </button>
              
              <button class="js-speed-lvl btn btn-sm cta__lvl-3">
                <span class="btn-bg">level 3</span>
              </button>
            </div>
  
            <img src="../img/speedometr.png" class="speed-block__image" alt="">
          </div>
  
          <button class="js-btn-next btn btn-lg btn-primary">
            <span class="btn-bg">go</span>
          </button>
        </div>
      </div>
    </div>
  
    <div class="swiper-slide">
      <div class="container">
        <div class="main-slider__item main-slider__item--gift">
          <div class="main-slider__text">
            <h2 class="title">PageMaker including versions of Lorem Ipsum.</h2>
            <p class="desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
              of Letraset sheets containing.</p>
          </div>
          
          <div class="second-slider-block gift-slider-wrapper">
            <div class="js-gift-slider gift-slider swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="gift-slider__image">
                    <img src="../img/gift-1.png" alt="gift-1">
                  </div>
                </div>
    
                <div class="swiper-slide">
                  <div class="gift-slider__image">
                    <img src="../img/gift-2.png" alt="gift-2">
                  </div>
                </div>
    
                <div class="swiper-slide">
                  <div class="gift-slider__image">
                    <img src="../img/gift-3.png" alt="gift-3">
                  </div>
                </div>
              </div>
    
              <div class="swiper-button-prev gift-slider__prev"></div>
              <div class="swiper-button-next gift-slider__next"></div>
            </div>
          </div>
  
          <button class="js-btn-prev btn btn-lg btn-secondary">
            <span class="btn-bg">back</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="main-slider__prev"></div>
  <div class="main-slider__next"></div>
</div>
