<div class="js-slider main-slider swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="container">
        <div class="main-slider__item">
          <div class="main-slider__text">
            <h2 class="title">Bibendum neque egestas congue</h2>
            <p class="desc">lacus sed viverra tellus in hac habitasse platea dictumst vestibulum rhoncus est
              pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat</p>
          </div>
          
          <div class="speed-block">
            <div class="speed-block__cta cta">
              <button class="js-speed-lvl btn btn-sm cta__lvl-1 active" data-btn-lvl="1">
                <span class="btn-bg">level 1</span>
              </button>
              
              <button class="js-speed-lvl btn btn-sm cta__lvl-2" data-btn-lvl="2">
                <span class="btn-bg">level 2</span>
              </button>
              
              <button class="js-speed-lvl btn btn-sm cta__lvl-3" data-btn-lvl="3">
                <span class="btn-bg">level 3</span>
              </button>
            </div>
  
            <div class="speed-block__image speedometer">
              <svg viewBox="0 0 100 100" class="speedometer__dash">
                <path d="M 50,50 m 0,-45 a 45,45 0 1 1 0,90 a 45,45 0 1 1 0,-90" fill-opacity="0"></path>
              </svg>
              
              <div class="speedometer__lvl" data-lvl="1">
                <img src="img/lvl-1.png" class="speedometer__lvl-image-1 hidden" alt="lvl-1">
                <img src="img/lvl-2.png" class="speedometer__lvl-image-2 hidden" alt="lvl-2">
                <img src="img/lvl-3.png" class="speedometer__lvl-image-3 hidden" alt="lvl-3">
  
                <div class="speedometer__arrow">
                  <svg xmlns="http://www.w3.org/2000/svg" width="11" height="213" viewBox="0 0 11 213" fill="none">
                    <path
                        d="M4.21896 124.596H7.1917V110.011L10.2095 107.496V6.66261L5.68281 1.13L1.20117 6.66261V107.496L4.21896 110.011V124.596Z"
                        fill="white"/>
                    <path d="M3.21303 124.596V198.532H8.24267V124.596H7.1917H4.21896H3.21303Z" fill="white"/>
                    <path
                        d="M8.24267 198.532H3.21303L1.20117 201.55V209.597L3.21303 212.112H8.24267L10.2545 209.597V201.55L8.24267 198.532Z"
                        fill="white"/>
                    <path
                        d="M3.21303 198.532V124.596M3.21303 198.532H8.24267M3.21303 198.532L1.20117 201.55V209.597L3.21303 212.112H8.24267L10.2545 209.597V201.55L8.24267 198.532M3.21303 124.596H8.24267M3.21303 124.596H4.21896M8.24267 124.596V198.532M8.24267 124.596H7.1917M4.21896 124.596V110.011L1.20117 107.496V6.66261L5.68281 1.13L10.2095 6.66261V107.496L7.1917 110.011V124.596M4.21896 124.596H7.1917"
                        stroke="white" stroke-width="1.00593"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>
  
          <button class="js-btn-next btn btn-lg btn-primary">
            <span class="btn-bg">go</span>
          </button>
        </div>
      </div>
    </div>
  
    <div class="swiper-slide">
      <div class="container">
        <div class="main-slider__item main-slider__item--gift">
          <div class="main-slider__text">
            <h2 class="title">PageMaker including versions of Lorem Ipsum.</h2>
            <p class="desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
              of Letraset sheets containing.</p>
          </div>
          
          <div class="second-slider-block gift-slider-wrapper">
            <div class="js-gift-slider gift-slider swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="gift-slider__image">
                    <img src="img/gift-1.png" alt="gift-1">
                  </div>
                </div>
    
                <div class="swiper-slide">
                  <div class="gift-slider__image">
                    <img src="img/gift-2.png" alt="gift-2">
                  </div>
                </div>
    
                <div class="swiper-slide">
                  <div class="gift-slider__image">
                    <img src="img/gift-3.png" alt="gift-3">
                  </div>
                </div>
              </div>
    
              <div class="swiper-button-prev gift-slider__prev"></div>
              <div class="swiper-button-next gift-slider__next"></div>
            </div>
          </div>
  
          <button class="js-btn-prev btn btn-lg btn-secondary">
            <span class="btn-bg">back</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="main-slider__prev"></div>
  <div class="main-slider__next"></div>
</div>
