// Typography
h2, .h2, p {
  margin-top: 0;
}

h2,.h2 {
  font-size: 48px;
  margin-bottom: 1em;
}

// Base
*,
::after,
::before {
  box-sizing: border-box;
}

ul,
ol,
dl {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

a, button {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
  transition: $transition-4;

  @media (any-hover: hover) {
    &:hover {
      color: $first-clr;
    }
  }
}

body {
  min-height: 100vh;
  min-width: 320px;
  font-family: $main-font;
  line-height: 1.2;
  background-color: $bg-clr;
  color: $txt-clr;
}

main {
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1300px;
}
