// Fonts
$sans: 'Helvetica', 'Verdana', 'Arial', sans-serif;
$main-font: 'Montserrat', $sans;

// Fonts weight
$regular: 400;
$semi-bold: 600;
$bold: 700;

// Breakpoints
$xs: 375;
$sm: 576;
$md: 768;
$max-md: 767;
$lg: 992;
$xl: 1200;
$max-xl: 1199;

// Color
$bg-clr: #252424;
$txt-clr: #ffe9f6;

$first-clr: #7a0bc0;
$second-clr: #e105e5;
$third-clr: #0b8ac0;

$border-clr: #ffe9f6;

// Other
$transition-6: .6s ease-out;
$transition-4: .4s ease-in;

$btn-radius-20: 20px;
$btn-radius-30: 30px;
